/* Basics */
body, html {
    background-color: white;
}

button, input[type=submit] {
    cursor: pointer;
}

a {
    color: #306a81;
    transition: color .25s;
}
a:hover {
    color: #0f465c;
}


/* Override default bootstrap buttons */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    color: #fff;
    background-color: #c1708e;
    border-color: #c1708e;
}
.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(182, 116, 141, 0.5) !important;
}
.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(182, 116, 141, 0.5) !important;
    border-color: rgba(182, 116, 141, 0.8);
}

/* Custom colors */
.bg-light-gray {
    background-color: #e4e9ea;
}
.bg-nav {
    background-color: #487586;
}
.bg-yellow {
    background-color: #f2eacb;
}

/* Header */
.header a.header-link {
    color: white;
}
.header a.header-link:hover {
    color: #99b5bf;
}

/* Table */
table.table {
    border-radius: 6px;
    box-shadow: 0 0 0 1px #487586; /* this draws the table border  */
}
table.table td {
    background-color: white;
    border: 0;
}
table.table thead tr {
    border: 0;
}
table.table thead th {
    background-color: #487586;
    border: 0;
    color: white;
}
table.table tfoot td {
    background-color: #ddd;
    border: 0;
    color: #555;
    font-weight: bold;
}

table.table tbody tr {
    border-bottom: 1px solid #487586;
}
table.table tbody tr td {
    border-right: 1px solid #487586;
}
table.table tbody tr td:last-child {
    border-right: 0;
}
table.table tbody tr:nth-child(odd) td {
    background-color: #f5f5f5;
}

/* Flags and running */
table.table tbody tr.sub-heading td { background-color: #a9bfc8; }
table.table tbody tr.running td { background-color: #f2eacb; }
table.table tbody tr.flags-1 td { background-color: #ecd6cd; }
table.table tbody tr.flags-2 td { background-color: #d6e1e6; }

table.table > :not(:first-child) {
    border: 0;
}

table.table thead th:first-child { border-top-left-radius: 6px; }
table.table thead th:last-child { border-top-right-radius: 6px; }
table.table tfoot td:first-child { border-bottom-left-radius: 6px; }
table.table tfoot td:last-child { border-bottom-right-radius: 6px; }

/* Rotate helpers */
.rotate-animate {
    transition: all .25s;
}
.rotate-90 {
    transform: rotate(90deg);
}

/* Day page specifics */
.day-toggle-advanced-form-button {
    text-decoration: none;
    font-size: .75rem;
}
.day-toggle-insert-current-time {
    text-decoration: none;
    font-size: .75rem;
}
