{{template "base" .}}

{{define "title"}}{{.Data.day_date.Format "02 Jan, 2006"}}{{end}}

{{define "content"}}

        <!-- Start/stop forms -->
        {{if .Data.current}}
            <!-- Stop task -->
            <div class="container p-4 mt-5 bg-white border border-2 rounded-3">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="fw-bold mb-3 text-secondary">Current task:</p>
                        <h2 class="fs-5 fw-bold">
                            {{.Data.current.Project}}
                            {{if .Data.current.Code}}
                                <span class="text-secondary">({{.Data.current.Code}})</span>
                            {{end}}
                        </h2>
                        <span class="d-block mt-3 text-secondary">{{.Data.current.Comment}}</span>
                    </div>

                    <form action="/time/{{.Data.current.Id}}/stop" method="POST" class="text-center">
                        {{ .Csrf }}
                        <p class="text-secondary mb-3 mb-0">Started at {{.Data.current.StartsAt.Time.Format "15:04"}}</p>
                        <button type="submit" class="btn btn-primary py-3 px-4 d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg>
                            Stop task ({{formatDuration .Data.current.TimeDuration}})
                        </button>

                    </form>

                </div>
            </div>
        {{else}}
            <!-- Start task -->
            <!-- <div class="container p-4 mt-5 bg-white"> -->
                <div class="container p-4 mt-5 bg-white border border-2 rounded-3">
                <form action="/time/store" method="POST">
                    {{ .Csrf }}

                    <h2 class="fw-bold fs-6">Start task</h2>

                    <div class="grid mt-3">
                        <div class="row">

                            <div class="col-2">
                                <input type="text" name="project" class="form-control" placeholder="Project">
                            </div>

                            <div class="col-4">
                                <input type="text" name="code" class="form-control" placeholder="Code">
                            </div>

                            <div class="col-5">
                                <input type="text" name="comment" class="form-control" placeholder="Comment">
                            </div>

                            <div class="col-1">
                                <button type="submit" title="Start task" class="btn btn-primary w-100 text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                      </svg>
                                </button>
                            </div>

                        </div>

                        <!-- Advanced settings toggle -->
                        <div class="row mt-3">
                            <a href="/day" class="day-toggle-advanced-form-button d-flex align-items-center">
                                <span class="me-1">More settings</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="rotate-animate" viewBox="0 0 16 16">
                                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                </svg>
                            </a>
                        </div>

                        <!-- Advanced settings form -->
                        <div class="day-toggle-advanced-form d-none row mt-3">
                            <div class="col-2">
                                <input type="text" name="starts_at" class="form-control" placeholder="Start date/time">
                                <a href="/day" class="day-toggle-insert-current-time mt-2 text-secondary">insert current time</a>
                            </div>

                            <div class="col-2">
                                <input type="text" name="stops_at" class="form-control" placeholder="Stop date/time">
                                <a href="/day" class="day-toggle-insert-current-time mt-2 text-secondary">insert current time</a>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        {{end}}

    </div>

    <div class="container py-5">

        <!-- Navigate -->
        <div class="grid mt-3 mb-4">
            <div class="row">
                <div class="col-3 d-flex align-items-center">
                    <a href="{{.Data.day_link_next}}" class="btn btn-primary pe-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                        Previous day
                    </a>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-center text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-3" viewBox="0 0 16 16">
                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    <h1 class="mb-0 fw-bold fs-5">{{.Data.day_date.Weekday}}, {{.Data.day_date.Format "02 Jan, 2006"}}</h1>
                </div>
                <div class="col-3 d-flex align-items-center justify-content-end">
                    <a href="{{.Data.day_link_previous}}" class="btn btn-primary ps-3">
                        Next day
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Table -->
        {{if not .Data.times}}
            <!-- Empty state -->
            <p class="bg-light rounded-3 p-3 px-4">No times yet ..</p>
        {{else}}
            <!-- Table -->
            <table class="table sortable">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Code</th>
                        <th>Time</th>
                        <th>Length</th>
                        <th class="no-sort">Comment</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            {{$firstTime := index .Data.times 0}}
                            {{$lastTime := index .Data.times (add (len .Data.times) -1)}}
                            {{$firstTime.StartsAt.Time.Format "15:04"}} -
                            {{if $lastTime.StopsAt.Valid}}
                                {{$lastTime.StopsAt.Time.Format "15:04"}}
                            {{end}}
                        </td>
                        <td>
                            {{$td := timeDurationMultiple .Data.times true}}
                            {{formatDuration $td}}
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
                <tbody>
                    {{range .Data.times}}
                        {{template "_time-table-row" .}}
                    {{end}}
                </tbody>
            </table>

        {{end}}

        <!-- Go to today -->
        <a href="/day" class="btn btn-sm mt-2 px-3 btn">
            Go to today
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
        </a>

    </div>
{{end}}
