{{template "base" .}}

{{define "title"}}
    {{if .Data.current}}
        ({{.Data.current.Project}} {{.Data.current.StartsAt.Time.Format "15:04"}})
    {{end}}
    {{.Data.day_date.Format "02 Jan, 2006"}}
{{end}}

{{define "content"}}

    <!-- Start/stop forms -->
    {{if .Data.current}}
        <!-- Stop task -->
        <div class="bg-yellow">
            <div class="container py-5">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="fw-bold mb-3 text-secondary">Current task:</p>
                        <h2 class="fs-5 fw-bold">
                            <a href="/time/{{.Data.current.Id}}/edit" class="text-black text-decoration-none">
                                {{.Data.current.Project}}
                            </a>
                            {{if .Data.current.Code}}
                                <span class="text-secondary">({{.Data.current.Code}})</span>
                            {{end}}
                        </h2>
                        <span class="d-block mt-3 text-secondary">{{.Data.current.Comment}}</span>
                    </div>

                    <form action="/time/{{.Data.current.Id}}/stop" method="POST" class="text-center">
                        {{ .Csrf }}
                        <p class="text-secondary mb-3 mb-0">Started at {{.Data.current.StartsAt.Time.Format "15:04"}}</p>
                        <button type="submit" class="btn btn-primary py-3 px-4 d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg>
                            Stop task ({{formatDuration .Data.current.TimeDuration}})
                        </button>

                    </form>

                </div>
            </div>
        </div>
    {{else}}
        <!-- Start task -->
        <div class="bg-light-gray">
            <div class="container py-5">
                <form action="/time/store" method="POST">
                    {{ .Csrf }}

                    <h2 class="fw-bold fs-6">Start task</h2>

                    <div class="grid mt-3">
                        <div class="row">

                            <div class="col-2">
                                <input type="text" name="project" class="form-control" placeholder="Project">
                            </div>

                            <div class="col-4">
                                <input type="text" name="code" class="form-control" placeholder="Code">
                            </div>

                            <div class="col-5">
                                <input type="text" name="comment" class="form-control" placeholder="Comment">
                            </div>

                            <div class="col-1">
                                <button type="submit" title="Start task" class="btn btn-primary w-100 text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                    </svg>
                                </button>
                            </div>

                        </div>

                        <!-- Row 2 -->
                        <div class="row mt-3">
                            <div class="col-3">
                                <label class="day-no-gap-label form-check-label cursor-pointer">
                                    <input class="form-check-input" type="checkbox" name="no_gap" value="1">
                                    no gap
                                </label>
                            </div>
                        </div>

                        <!-- Advanced settings toggle -->
                        <div class="row mt-3">
                            <a href="/day" class="day-toggle-advanced-form-button d-flex align-items-center">
                                <span class="me-1">More settings</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="rotate-animate" viewBox="0 0 16 16">
                                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                </svg>
                            </a>
                        </div>

                        <!-- Advanced settings form -->
                        <div class="day-toggle-advanced-form d-none row mt-3">
                            <div class="col-3">
                                <input type="text" name="starts_at" class="form-control" placeholder="Start date/time">
                                <a href="/day" class="day-toggle-insert-current-time mt-2 text-secondary">insert current time</a>
                            </div>

                            <div class="col-3">
                                <input type="text" name="stops_at" class="form-control" placeholder="Stop date/time">
                                <a href="/day" class="day-toggle-insert-current-time mt-2 text-secondary">insert current time</a>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    {{end}}

    <div class="container py-5">

        <!-- Navigate -->
        <div class="grid mt-3 mb-4">
            <div class="row">
                <div class="col-3 d-flex align-items-center">
                    <a href="{{.Data.day_link_next}}" class="btn btn-primary pe-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                        Previous day
                    </a>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-center text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-3" viewBox="0 0 16 16">
                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    <h1 class="mb-0 fw-bold fs-5">{{.Data.day_date.Weekday}}, {{.Data.day_date.Format "02 Jan, 2006"}}</h1>
                </div>
                <div class="col-3 d-flex align-items-center justify-content-end">
                    <a href="{{.Data.day_link_previous}}" class="btn btn-primary ps-3">
                        Next day
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Table -->
        {{if not .Data.times}}
            <!-- Empty state -->
            <p class="bg-light-gray border-table-placeholder rounded-3 p-3 px-4">No times yet ..</p>
        {{else}}
            <!-- Table -->
            <table class="table sortable">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Code</th>
                        <th>Time</th>
                        <th>Length</th>
                        <th class="no-sort">Comment</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            {{$firstTime := index .Data.times 0}}
                            {{$lastTime := index .Data.times (add (len .Data.times) -1)}}
                            {{$firstTime.StartsAt.Time.Format "15:04"}} -
                            {{if $lastTime.StopsAt.Valid}}
                                {{$lastTime.StopsAt.Time.Format "15:04"}}
                            {{end}}
                        </td>
                        <td>
                            {{$td := timeDurationMultiple .Data.times true}}
                            {{formatDuration $td}}
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
                <tbody>
                    {{range .Data.times}}
                        {{template "_time-table-row" .}}
                    {{end}}
                </tbody>
            </table>

        {{end}}

        <!-- Notes -->
        <form action="/note/upsert" method="POST" class="notes-form">
            {{.Csrf}}
            <input type="hidden" name="date" value="{{.Data.day_date.Format "2006-01-02"}}">
            <textarea name="note" class="auto-height notes-form-control form-control w-100 my-4 p-3 pb-0" placeholder="Notes" onfocus="notesTextAreaFocus(this)" onblur="notesTextAreaBlur(this)" oninput="textareaAutoHeight(this)">{{.Data.note}}</textarea>
            <button type="submit" class="btn btn-primary btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                    <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                </svg>
                Save
            </button>
        </form>

    </div>
{{end}}
